<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agregar Skins</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-grid style="background-color:rgba(153, 8, 153, 0.838);">
  <ion-card class="form">
    <ion-card-header>
      <ion-card-title style="text-align: center;" >Agregar Skin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioSkin">
        <ion-item>
          <ion-label position="floating">Nombre Skin</ion-label>
          <ion-input formControlName="NombreSkin" type="text"></ion-input>
        </ion-item>
        <div [hidden]="NombreS?.valid || NombreS?.pristine ">
          <span style="color: rgb(255, 0, 0);" *ngIf="NombreS?.errors?.['required']">
            El nombre de la skin es requerido.
          </span>
          <span style="color: rgb(255, 0, 0);" *ngIf="NombreS?.errors?.['minlength']">
            El nombre de la skin solo permite un rango de 5 caracteres.
          </span>
          <span style="color: rgb(255, 0, 0);" *ngIf="NombreS?.errors?.['maxlength']">
            El nombre de la skin solo permite un rango de 30 caracteres.
          </span>
          </div>
        <br>

        <ion-item>
          <ion-label position="floating">Precio Skin</ion-label>
          <ion-input formControlName="PrecioSkin" type="Number"></ion-input>
        </ion-item>
        <div [hidden]="PrecioS?.valid || PrecioS?.pristine ">
          <span style="color: rgb(255, 0, 0);" *ngIf="PrecioS?.errors?.['required']">
            El precio de la skin es requerido.
          </span>
          <span style="color: rgb(255, 0, 0);" *ngIf="PrecioS?.errors?.['min']">
            El precio minimo de una skin sera de 100 monedas.
          </span>
          <span style="color: rgb(255, 0, 0);" *ngIf="PrecioS?.errors?.['max']">
            El precio maximo de una skin sera de 1000 monedas.
          </span>
          </div>
        

          <ion-input accept="image/png,image/jpeg"  type="file"></ion-input>
          <p style="text-align: center;"><ion-button [disabled]="formularioSkin.invalid" [routerLink]="['/skins']">Enviar</ion-button></p>
      </form>
      
      
    </ion-card-content>
  </ion-card>
</ion-grid>

  <ion-header collapse="condense">
  </ion-header>
</ion-content>
