<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agregar Skins</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">


  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Agregar Skin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioSkin">
        <ion-item>
          <ion-label position="floating">Nombre Skin</ion-label>
          <ion-input formControlName="NombreSkin" type="text"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Precio Skin</ion-label>
          <ion-input formControlName="PrecioSkin" type="Number"></ion-input>
        </ion-item>
        <br>
          <ion-input accept="image/png,image/jpeg" type="file"></ion-input>
      </form>
      <br>
      <p style="text-align: center;"><ion-button (click)="Enviar()" [routerLink]="['/skins']">Enviar</ion-button></p>
    </ion-card-content>
  </ion-card>


  <ion-header collapse="condense">
  </ion-header>
</ion-content>
