<ion-header [translucent]="true">
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" style="margin-top: 50px;">
        <ion-button (click)="mostrarDatos()">Mostrar Datos</ion-button>

        <ion-card *ngIf="dias">
          <ion-card-header>
            Datos de la API
          </ion-card-header>
          <ion-card-content>
            <div>
              <p>ID: {{ dias.id }}</p>
              <p>Title: {{ dias.title }}</p>
              <p>Content: {{ dias.content }}</p>
            </div>
          </ion-card-content>
        </ion-card>

        <div *ngIf="!dias">Cargando datos...</div>


        
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-header collapse="condense">
  </ion-header>
</ion-content>