<!-- tiempo-carga.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/usocamara"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ juego.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="background-color: rgb(68, 4, 102)">
  <ion-grid >
  <ion-card class="game-card">
    <ion-card-header>
      <ion-card-title class="game-title">{{ juego.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img [src]="juego.background_image" alt="Imagen del juego"></ion-img>

      <div class="details-section">
        <h3 class="section-title">Detalles del Juego</h3>
        <ul>
          <li><strong>Género:</strong> {{ obtenerGeneros(juego.genres) }}</li>
          <li><strong>Plataformas:</strong> {{ obtenerPlataformas(juego.platforms) }}</li>
          <li><strong>Fecha de Lanzamiento:</strong> {{ juego.released }}</li>
        </ul>
      </div>

      <!-- Agrega más secciones según la información que desees mostrar -->

    </ion-card-content>
  </ion-card></ion-grid>
</ion-content>
