<ion-header [translucent]="true">
 
</ion-header>
<ion-content [fullscreen]="true">

  <ion-grid tab style="background-image: url(assets/icon/fondo1.png) ; background-size: 920px 420px; background-repeat: no-repeat;">
    <ion-row >
      <ion-col size="1">
        <img src="assets/icon/patra.png" [routerLink]="['/lobby']" style="width: 50px;height: 50px;"/>

      </ion-col>
   
    
      <ion-col size="11" style="padding-right:90px ;text-align: left; ">
        <div class="contenedor">
          <img src="assets/icon/cintanivel.png"  style="width: 500px;height: 100px;"/>
          
          <div class="titulogro">SELECCIONAR NIVEL</div><br>
        </div>
      
      
      </ion-col>
    
    </ion-row>
    
    <ion-row class="tablon" style="background-image: url(assets/icon/tablon1.png) ; background-size: 800px 280px; background-repeat: no-repeat;margin-left: 50px;">

      <ion-col>

      </ion-col>
      <ion-col  >
        <div style="text-align: center;">
        <img class="estrella" src="assets/icon/estrella.png"  style=/>
        <img class="estrella"src="assets/icon/estrella.png"  style=" width: 45;height: 45px;"/>
        <img class="estrella"src="assets/icon/estrellant.png"  style=/>
      </div>

        <div [routerLink]="['/tutorial']" class="nivel" style="background-color: aqua;">
          TUTORIAL

        </div>

      </ion-col>

      <ion-col  style="text-align: center;">
        <div style="text-align: center;">
        <img class="estrella" src="assets/icon/estrella.png"  style=/>
        <img class="estrella"src="assets/icon/estrella.png"  style=" width: 45;height: 45px;"/>
        <img class="estrella"src="assets/icon/estrella.png"  style=/></div>
        
        <div class="nivel" style="background-color: rgb(68, 0, 255); text-align: center;">
          nivel 1

        </div>
        
      </ion-col>

      <ion-col  >
        <div style="text-align: center;">
        <img class="estrella" src="assets/icon/estrella.png"  style=/>
        <img class="estrella"src="assets/icon/estrellant.png"  style=" width: 45;height: 45px;"/>
        <img class="estrella"src="assets/icon/estrellant.png"  style=/></div>
        
        <div class="nivel" style="background-color: rgb(21, 255, 0);">
          nivel 2

        </div>
        
      </ion-col>
      <ion-col>

      </ion-col>
     <!-- <ion-col size="4" style="background-color: rgba(17, 197, 191, 0.926);border-radius: 15px;">
    
        <p style="text-align: center;"><img alt="Sin foto" src="assets/icon/coin.png" style="width: 50px; height: 50px;"/> </p>
        <ion-button [routerLink]="['/tutorial']" expand="block" >Tutorial</ion-button>
      </ion-col>
      
      <ion-col size="4" style="background-color: rgba(17, 197, 119, 0.926);border-radius: 15px;">
    
        <p style="text-align: center;"><img alt="Sin foto" src="assets/icon/coin.png" style="width: 50px; height: 50px;"/> </p>
        <ion-button [routerLink]="['/tutorial']" expand="block" >Nivel facil</ion-button>
    
      </ion-col>
    
      <ion-col size="4" style="background-color: rgba(197, 113, 17, 0.926);border-radius: 15px;">
        
        <p style="text-align: center;"><img alt="Sin foto" src="assets/icon/coin.png" style="width: 50px; height: 50px;"/> </p>
        <ion-button [routerLink]="['/tutorial']" expand="block" >Nivel medio</ion-button>
        
      </ion-col>-->
    </ion-row>
    
    </ion-grid>

  <ion-header collapse="condense">
    
  </ion-header>
</ion-content>
