<ion-header [translucent]="true">
  <!--
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>         
    <ion-title>iniciar_Sesion</ion-title>
  </ion-toolbar>-->
 
</ion-header>

<ion-content [fullscreen]="true">


  <ion-grid style="height: 100%;background-image: url(assets/icon/fondopp.jpg) ; ">
    <ion-row>
      <!--skin favorita-->
      <ion-col size="4" style=" border-right: 3px solid black; height: 100%; background-color: rgba(163, 14, 113, 0.452);">
       
    
       
          <ion-row>
            <ion-col>
              <div style="text-align: left;justify-content: left;align-items: left;">

               <img src="assets/icon/patra.png" [routerLink]="['/lobby']" style="width: 50px;height: 50px; ">
               </div>
            </ion-col>
          </ion-row>
          <ion-row>
          <ion-col >
            <div style="text-align: center;color: rgb(255, 255, 255); ">
              BLUEBALL
            </div>
            <div style="margin-bottom: 0px; height: 221px;">

              <img class="pj" src="assets/icon/pj.png" alt="Mi Imagen">
            </div>
           
            
            
          </ion-col>
          </ion-row>
        
        <ion-row>
          <ion-col style="margin-top: -35px;">
            <div style="margin-bottom: 5px;color: rgb(255, 255, 255);">
               mi skin favorita
        <ion-button  class="boton" expand="block" >Cambiar</ion-button>
            </div>
            
          </ion-col>
        </ion-row>
       
       </ion-col>
      <!--datos del perfil-->
      <ion-col size="8" style="background-color: rgba(178, 196, 13, 0);">
        <ion-row>
          <ion-col> 
            <div style="background-color: black; color: white; text-align: left; font-weight: 700; margin-right: 230px;">
              PERFIL
            </div>
 
          </ion-col>
          <ion-col>
            <ion-button (click)="irModificar()" class="boton" expand="block" >editar perfil</ion-button>
            <ion-button (click)="home()" class="boton" expand="block" >cerrar sesion</ion-button>
          </ion-col>
        </ion-row>
        <div>
        <ion-row>
          
          <!--columna fotoperfil-->
          
          <ion-col size="4" > 
            <div style="margin-top: -40px;">
              <h1><ion-icon name="share-social-sharp" (click)="share()"></ion-icon></h1>
            </div>
            <img class="fotoperfil" [src]="infoUsuario.foto"  alt="Mi Imagen">
            
          </ion-col>
      <ion-col size="8" >
        <br><ion-row>
          <ion-col >
            
            <div class="datos">
{{infoUsuario.nombre}}
            </div>
            
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col >
            <div  class="datos">
 {{infoUsuario.correo}}
            </div>
           
          </ion-col>
        </ion-row>
        

      </ion-col>
        </ion-row>
        <br><ion-row >
          <ion-col style="text-align: left;background-color: rgba(16, 16, 87, 0.623); border-radius: 2%;margin: 0px 10px 0 10px ;">
            <div style=" text-align: center;color: white;">
              DESCRIPCION
            </div>
            <div style="border: 1px solid rgb(255, 255, 255); width: 570px;height: 60px;margin: 5px;color: rgb(245, 245, 220);" >
               {{descripcion}}
            </div>
            
         
          </ion-col> 
        </ion-row>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PerfilUsuario</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
