 /*
 .nube{
    width: 140px ;
    height: 65px;
    animation: movernube 5s linear infinite;
    margin-right: 300px;
    margin-left: 100px;
    //animation-name: movernube;
    //animation-duration: 20s;
    //transition: 1s;
}

@keyframes estrella {
  0%{ transform: rotatey(0deg);}
  25%{ transform: rotatey(180deg);}
  50%{ transform: rotatey(0deg);}
  75%{ transform: rotatey(360deg);}
  100%{transform: rotatey(0deg);} 
}

.estrellaz{
  width:20% ;
  height: 20%;
  padding:  0 2% 0 0;
}

.estrella{
  width:15% ;
  height: 15%;
  margin-left:20%;
  animation: estrella 3s linear infinite ;
}

.estrella1{
  width:5% ;
  height: 5%;
  animation: estrella 3s linear infinite ;
}

.estrella2{
  width:15% ;
  height: 15%;
  margin-left:15%;
  animation: estrella 3s linear infinite ;
}

.llave{
  width: 35% ;
  height: 5%;
  margin-left: 35%;
  animation: llave 5s linear infinite ;
}

.plataforma{
  width: 200px ;
  height: 20px;
}

.plataforma1{
  width: 150px ;
  height: 20px;
}

.pinchos{
  width: 80px ;
  height: 50px;
}

.nube1{
    width: 100px ;
    height: 65px;
    animation: movernube 7s linear infinite reverse;
    //animation-name: movernube;
    //animation-duration: 20s;
    //transition: 1s;
}

.flechas{
    
    padding-left: 10px;
    width:130px ;
    height:55px ;
    margin-top: 10px;
    transition: 0.3s;
}

.flechas:hover{
  transform: scale(1.1);
}

.contador {
  position: absolute;
  top: 5px; 
  right: 10px; 
  background-color: rgba(94, 27, 156, 0.885); 
  color: #ffffff; 
  padding: 5px; 
  border-radius: 5px; 
  height: 33px;
}

.puerta{
    width: 80px;
    height: 100px;
    text-align: right;
    margin-top: 75px;
    margin-left: 80px;
}

.puerta1{
  width: 140px;
  height: 100px;
  text-align: right;
  margin-top: 75px;
  margin-left: 80px;
}

.salto{
    width: 100px;
    height: 80px;
    transition: 0.3s;
    margin-right: 10px;
    margin-top: -10px;
}

.salto:hover{
  transform: scale(1.1);
}

.pj{
    width: 70px;
    height: 70px;
    margin-top: -5px;   
}

.caja{
  width: 75px ;
  height: 60px; 
}

.rotate-animation {
  animation: rotate 0.5s ease-in-out infinite; 
}

@keyframes rotate {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(360deg); 
  }
}

.sol{
    width: 80px;
    height: 80px;
    animation: girarluna 4s linear infinite;
    justify-content: right;
    align-items: right;
    text-align: right;   
}

@keyframes girarluna {
    0% {transform: rotate(0deg);}

      25%{transform: rotate(20deg);}

      50%{transform: rotate(0deg);}

      75%{transform: rotate(-20deg);}

      100% {transform: rotate(0deg);} 
}
.menu{
    width: 50px;
    height: 45px;
    margin-bottom: 60px;
    transition: 0.5s;
}

.menu:hover{
  transform: scale(1.1);
}

@keyframes movernube {
    0%{ transform: translatey(0);}
    25%{ transform: translatey(6px);}
    50%{ transform: translatey(0);}
    75%{ transform: translatey(-6px);}
    100%{transform: translatey(0);}
}

@keyframes llave {
  0%{ transform: translatey(0);}
  25%{ transform: translatey(4px);}
  50%{ transform: translatey(0);}
  75%{ transform: translatey(-4px);}
  100%{transform: translatey(0);}
}

ion-grid {
  max-width: 100%;
  height: 100%;
  margin: 0 auto; 
}

.reanudar{
  background-color: aqua;
}

.disintegration-animation {
  animation-name: disintegration;
  animation-duration: 2s; 
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

@keyframes disintegration {
  0% {
    opacity: 1;
    transform: translateY(0); 
  }
  100% {
    opacity: 0;
    transform: translateY(-100%); 
  }}

.container-completado {
  margin-top:-35px;
  background-color: #a57edd; 
  border: 2px solid #bb00ffe6; 
  padding: 40px; 
  border-radius: 10px; 
  text-align: center;
  position: absolute; 
  visibility: hidden; 
}

.alerta-container {
  margin-top:-35px;
  background-color: #6a00ff; 
  border: 1px solid #bb00ffe6; 
  padding: 20px; 
  border-radius: 10px; 
  text-align: center;
  position: absolute; 
  visibility: hidden; 
}

.alerta-titulo {
  font-size: 24px; 
  color: #fff;
}

.alerta-mensaje {
  font-size: 18px; 
  color: #ffffff; 
}

.alerta-botones {
  margin-top: 20px; 
}

.alerta-boton {
  margin: 0 10px; 
  padding: 10px 20px; 
  background-color: #ff00fb62; 
  color: #fff; 
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px;
}

.alerta-boton:hover {
  background-color: #ff3300a1; 
}*/
  




