.nube{
    width: 140px ;
    height: 65px;
    animation: movernube 20s linear infinite;
    //animation-name: movernube;
    //animation-duration: 20s;
    //transition: 1s;


}
.nube1{
    width: 100px ;
    height: 65px;
    animation: movernube 30s linear infinite reverse;
    //animation-name: movernube;
    //animation-duration: 20s;
    //transition: 1s;


}
.flechas{
    padding-left: 10px;
    width:150px ;
    height:65px ;
    margin-top: 35px;
    transition: 0.3s;

}
.flechas:hover{
  transform: scale(1.1);
}


.puerta{
    width: 80px;
    height: 100px;
    text-align: right;
    margin-top: -35px;
    margin-left: 180px;
}
.salto{
    width: 120px;
    height: 95px;
    transition: 0.3s;
    margin-right: 50px;
}

.salto:hover{
  transform: scale(1.1);
}
.pj{
    width: 70px;
    height: 70px;
    margin-top: -5px;
    animation: girarsol 1s ;

}

.rotate-animation {
  animation: rotate 0.5s ease-in-out infinite; // Ajusta la duración y el efecto de animación según tus preferencias
}

@keyframes rotate {
  0% {
    transform: rotate(0deg); // Ángulo de inicio
  }
  100% {
    transform: rotate(360deg); // Ángulo de finalización (una rotación completa)
  }
}

.sol{
    width: 100px;
    height: 100px;
    animation: girarsol 20s linear infinite;
    justify-content: right;
    align-items: right;
    text-align: right;
}

@keyframes girarsol {
    0% {
        transform: rotate(0deg); 
      }
      100% {
        transform: rotate(360deg); 
      }
    
}
.menu{
    width: 50px;
    height: 45px;
    margin-bottom: 60px;
    transition: 0.5s;
}
.menu:hover{
  transform: scale(1.1);
}


@keyframes movernube {
    0%{ transform: translateX(-400px);}
    
    
    100%{transform: translateX(1000px);}
    
}
ion-grid{
    height: 100%;
}

.reanudar{
  background-color: aqua;
}