<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid style="background-image: url(assets/icon/fondoCartel.png) ;  background-size: 920px 420px; background-repeat: no-repeat;">
    <ion-row >
      <ion-col>
       <img class="menu" id="present-alert" (click)="mostrarmenu()" src="assets/icon/menu.png" alt="Mi Imagen">
        
 

        <img class="sol" src="assets/icon/sol.png" alt="Mi Imagen">
        <img class="nube" src="assets/icon/nube.png" alt="Mi Imagen"><br>
        <img class="nube1" src="assets/icon/nube.png" alt="Mi Imagen"><br><br>

      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col size="4">
       
        
        

        <img class="pj " src="assets/icon/pj.png" [style.transform]="'translateX(' + personajePosX + 'px) rotate(' + rotationDegrees + 'deg)'" alt="Mi Imagen">
       
        
        
      </ion-col>
      <ion-col size="4">
        
      </ion-col>
      <ion-col size="4" style="text-align: center; justify-content: right;align-items: right;">
        
        <img class="puerta" src="assets/icon/puerta.png" alt="Mi Imagen">
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
 
        <img class="flechas " src="assets/icon/izquierda.png" (touchstart)="startMoving('izquierda')" (touchend)="stopMoving('izquierda')"  alt="Mi Imagen">
        <img class="flechas" src="assets/icon/derecha.png" (touchstart)="startMoving('derecha')" (touchend)="stopMoving('derecha')"  alt="Mi Imagen">
      </ion-col>
      <ion-col style="text-align: right; justify-content: right;align-items: right;" >
 
        <img class="salto" src="assets/icon/saltar.png" alt="Mi Imagen">
        
      </ion-col>
      
    </ion-row>
  </ion-grid>
 
</ion-content>
