<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid style="background-image: url(assets/icon/fondoCartel.png) ;  background-size: 920px 420px; background-repeat: no-repeat;height: 100vh;">
   <!--fila 1-->
    <ion-row>
    <ion-col class="col">
      <img class="menu" id="present-alert" (click)="menu()" src="assets/icon/menu.png" alt="Mi Imagen">
    </ion-col>
    <ion-col class="col"></ion-col>
    <ion-col class="col"></ion-col>
    <ion-col class="col"></ion-col>
    <ion-col class="col"></ion-col>
    <ion-col class="col"><img class="estrella2" id="estrella1" src="assets/icon/estrella.png" alt="Mi Imagen" ></ion-col>
    <ion-col class="col"></ion-col>
    <ion-col class="col"></ion-col>
    <ion-col class="col"></ion-col>
    <ion-col class="col">
      <div class="contador">
        <p>{{ tiempo }}</p>
      </div>
      <img class="enemy" id="enemy1" src="assets/icon/sol.png" alt="Mi Imagen">
    </ion-col>
   </ion-row>

   <!--fila 2-->
   <ion-row>
    <ion-col class="col"></ion-col>
    <ion-col class="col"><img class="estrella2" id="estrella2" src="assets/icon/estrella.png" alt="Mi Imagen" ></ion-col>
    <ion-col class="col"></ion-col>
    <ion-col class="col"></ion-col>
    <ion-col class="col">
      <div  *ngIf="!mostrarAlerta">
      </div>
      <div  *ngIf="!moverEmpezar">
      </div>
      <div  *ngIf="!menus">
      </div>
      <div  style="z-index: 9999;" [style.visibility]="menus ? 'visible' : 'hidden'" *ngIf="menus" class="container-completado">
        <h2 class="alerta-titulo">¿Volver al lobby?</h2><div class="alerta-botones">
          <button class="alerta-boton" (click)="volverAlInicio()">salir</button><br><br>
          <button class="alerta-boton" (click)="reanudar()">reanudar</button>
          
        </div>
      </div>
        <div  [style.visibility]="moverEmpezar ? 'visible' : 'hidden'"  *ngIf="moverEmpezar" class="container-completado">
          <h2 class="alerta-titulo">muevete para empezar</h2>
      </div>
      <div  [style.visibility]="mostrarAlerta ? 'visible' : 'hidden'" *ngIf="mostrarAlerta" class="alerta-container">
        <h2 class="alerta-titulo">¡Fin del juego!</h2>
      <div>estrellas recojidas: {{estrellasrecojidas}}</div>
        
        <div class="alerta-botones">
          <button class="alerta-boton" (click)="volverAlInicio()">Volver al lobby</button>
          
        </div>
        
      </div>
    </ion-col>
    <ion-col class="col"></ion-col>
    <ion-col class="col"></ion-col>
    <ion-col class="col"></ion-col>
    <ion-col class="col"></ion-col>
    <ion-col class="col">
      <img class="enemy" id="enemy2" src="assets/icon/sol.png" alt="Mi Imagen">
    </ion-col>
   </ion-row>

   <!--fila 3-->
   <ion-row>
    <ion-col class="col"></ion-col>
    <ion-col class="col"></ion-col>
    <ion-col class="col"></ion-col>
    <ion-col class="col"></ion-col>
    <ion-col class="col"></ion-col>
    <ion-col class="col"></ion-col>
    <ion-col class="col"></ion-col>
    <ion-col class="col"><img class="estrella2" id="estrella3" src="assets/icon/estrella.png" alt="Mi Imagen" ></ion-col>
    <ion-col class="col"></ion-col>
    <ion-col class="col">
      <img class="enemy" id="enemy3" src="assets/icon/sol.png" alt="Mi Imagen">
    </ion-col>
   </ion-row>

    <!--fila 4-->
    <ion-row>
      <ion-col class="col">
        <img class="pj" src="assets/icon/pj.png" [ngClass]="{'disintegration-animation': tiempoExpirado}" [style.transform]="'translateX(' + personajePosX + 'px) rotate(' + rotationDegrees + 'deg) translateY(' + personajePosY + 'px)'" alt="Mi Imagen" >
      </ion-col>
      <ion-col class="col"></ion-col>
      <ion-col class="col"></ion-col>
      <ion-col class="col"><img class="estrella2" id="estrella4" src="assets/icon/estrella.png" alt="Mi Imagen" ></ion-col>
      <ion-col class="col"></ion-col>
      <ion-col class="col"></ion-col>
      <ion-col class="col"></ion-col>
      <ion-col class="col"></ion-col>
      <ion-col class="col"></ion-col>
      <ion-col class="col">
        <img class="enemy" id="enemy4" src="assets/icon/sol.png" alt="Mi Imagen">
      </ion-col>
     </ion-row>
    
     <ion-row>
      <ion-col>
        <img class="flechas " src="assets/icon/izquierda.png" (touchstart)="moverPersonajeIzquierda()"  alt="Mi Imagen">
        <img class="flechas" src="assets/icon/derecha.png" (touchstart)="moverPersonajeDerecha()"  alt="Mi Imagen">
      </ion-col>
      <ion-col style="text-align: center;">
        <img class="flechas " src="assets/icon/arriba.png" (touchstart)="moverPersonajeArriba()"  alt="Mi Imagen">
        <img class="flechas" src="assets/icon/abajo.png" (touchstart)="moverPersonajeAbajo()"  alt="Mi Imagen">
      </ion-col>
     </ion-row>

  
  
  </ion-grid>

</ion-content>
