<ion-header [translucent]="true">
 
</ion-header>
<ion-content [fullscreen]="true">

  <ion-grid style="background-image: url(assets/icon/fondotienda.png) ;height: 100%;background-size:cover ; background-repeat: no-repeat;">

    <ion-row>
      
        <ion-col size="1">
          <div style="margin-bottom: 70px;"> 
          <img src="assets/icon/patra.png" [routerLink]="['/lobby']" style="width: 50px;height: 50px;"/>
     </div>
        </ion-col>
      <ion-col size="9" >
        <div class="contenedor">
          <img src="assets/icon/techo.png"  style="width: 700px;height: 150px;padding-left: 70px;"/>
          
          <div class="titulogro">TIENDA DE SKINS</div>
        </div>
      
      
      </ion-col>
      
     <ion-col size="2">
      <div class="monedas">
      <img alt="Sin foto" src="assets/icon/coin.png" style="width: 20px; height: 20px;"/>200 monedas
      </div>
     </ion-col>
    </ion-row>

    
    <ion-row>
      <ion-col size="1">
        <img src="assets/icon/paizquierda.png"  style="width: 50px;height: 50px;"/>
      </ion-col>
      <ion-col>
        <div class="c">
        <div class="nombreskin" >
          FUTBALL

        </div>
        <div class="fotoc" >
           <img class="foto" alt="Sin foto" src="assets/icon/futball.png" />
        </div>
        <div class="precio" >
          <img alt="Sin foto" src="assets/icon/coin.png" style="width: 20px; height: 20px;"/>  25 Monedas

        </div>
        <div>
          <button class="boton" mat-raised-button color="warn" >COMPRAR</button>
        </div>
       
      </div>
      </ion-col>


      <ion-col>
        <div class="c">
          <div class="nombreskin" >
            TENISBALL
  
          </div>
          <div class="fotoc" >
             <img class="foto" alt="Sin foto" src="assets/icon/TenisBall.png" />
          </div>
          <div class="precio" >
            <img alt="Sin foto" src="assets/icon/coin.png" style="width: 20px; height: 20px;"/>  25 Monedas
  
          </div>
          <div>
            <button class="boton" mat-raised-button color="warn" >COMPRAR</button>
          </div>
         
        </div>
      </ion-col>


      <ion-col>
        <div class="c">
          <div class="nombreskin" >
            BASBALL
  
          </div>
          <div class="fotoc" >
             <img class="foto" alt="Sin foto" src="assets/icon/Basball.png" />
          </div>
          <div class="precio" >
            <img alt="Sin foto" src="assets/icon/coin.png" style="width: 20px; height: 20px;"/>  25 Monedas
  
          </div>
          <div>
            <button class="boton" mat-raised-button color="warn" >COMPRAR</button>
          </div>
         
        </div>
      </ion-col>


      <ion-col>
        <div class="c">
          <div class="nombreskin" >
            FUTBALL
  
          </div>
          <div class="fotoc" >
             <img class="foto" alt="Sin foto" src="assets/icon/futball.png" />
          </div>
          <div class="precio" >
            <img alt="Sin foto" src="assets/icon/coin.png" style="width: 20px; height: 20px;"/>  25 Monedas
  
          </div>
          <div>
            <button class="boton" mat-raised-button color="warn" >COMPRAR</button>
          </div>
         
        </div>
      </ion-col>
      <ion-col size="1">
        <img src="assets/icon/paderecha.png"  style="width: 50px;height: 50px;"/>
      </ion-col>






     
    </ion-row>


  </ion-grid>

  <ion-header collapse="condense">
  </ion-header>
</ion-content>
