<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Skins</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size="9" style="background-color: aqua;">
        <h1 style="text-align: center;">Tienda</h1>
      </ion-col>
      
      <ion-col size="3" style="background-color: rgb(66, 17, 95);">
        <ion-row>
          <ion-col style="background-color: rgb(130, 130, 16);">
            <img style="width: 50px;" alt="Sin foto" src="assets/icon/coin.jpg" /><p>55 Monedas</p>

          </ion-col>
        </ion-row>
      </ion-col>
      
    </ion-row>
  </ion-grid>

  <ion-header collapse="condense">
  </ion-header>
</ion-content>
