<ion-header [translucent]="true">
 
</ion-header>

<ion-content [fullscreen]="true" > 
  

  <ion-grid style="background-image: url(assets/icon/FondoInicio.png) ;height: 100%; background-size: cover ;background-attachment: fixed;">
    <ion-row>
      <ion-col size="2" >
        <!--perfil-->
        <ion-row >
          <ion-col class="icono">
            <img (click)="irperfil()"  src="assets/icon/perfil.png" alt="Mi Imagen">
            </ion-col>
          

        </ion-row >
        <!--logros-->
        <ion-row >
          <ion-col class="icono">
            <img [routerLink]="['/logros']"  src="assets/icon/trofeo.png" alt="Mi Imagen">
            </ion-col>
          
        </ion-row>
        <!--tienda-->
        <ion-row >
          <ion-col class="icono">
            <img [routerLink]="['/skins']"  src="assets/icon/carrito.png" alt="Mi Imagen">
            </ion-col>
          
        </ion-row>
       

      </ion-col>
      <!--columna principal derecha-->
      <ion-col size="10" >

         <!--primera fila-->
        <ion-row>
          <!--nombre app-->
          <ion-col size="9" >
            <img class="nombreapp" style="width: 300px;height: 110px;" src="assets/icon/nombreapp2.png" alt="Mi Imagen">

          </ion-col>
          <!--monedas-->
          <ion-col size="3" >
            <div class="monedas">
              <p style="text-align: center;"><img alt="Sin foto" src="assets/icon/coin.png" style="width: 20px; height: 20px;"/>  25 Monedas</p>
            </div>
             
          </ion-col>
        </ion-row>
        <!--segunda fila-->
        <ion-row>
          <!--bienvenido usuario-->
          <ion-col >
            <div class="bienvenido">
              bienvenido usuario {{nombre_en_lobby.nombre }}
            </div>
            
          </ion-col>
        </ion-row>
        <!--tercera fila-->
        <ion-row>
          <!--personaje-->
          <ion-col size="8">
            <img style="width: 180px; height: 180px; text-align: right;" src="assets/icon/pj.png" class="pj" alt="Mi Imagen">
          </ion-col>
          <ion-col size="4">
            <div class="" style="margin-left: 140px; width: 95px;height: 50px;transition: 0.4s;border-radius:  0 10px 10px 0;border: 10px solid rgba(207, 17, 74, 0.966) ;background-color: rgba(223, 172, 30, 0.966); " [routerLink]="['/creadores-juego']">
              <h3 style="color: rgb(233, 233, 233);">creadores</h3>
            </div>
            
            <div [routerLink]="['/niveles']" class="botonjugar">
              JUGAR

            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-header collapse="condense" >
    <ion-toolbar >
      <ion-title size="large">Lobby</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
