@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Gluten:wght@400;900&display=swap');

  @keyframes rubberBand {
    0%{
        transform: scaleX(1);
    }
    40%{
        transform: scaleX(1.12) scaleY(0.75);
    }
    55%{
        transform: scaleX(0.85) scaleY(1);
    }
    65%{
        transform: scaleX(1.09) scaleY(0.85);
    }
    75%{
        transform: scaleX(0.9)  scaleY(1);
    }
    90%{
        transform: scaleX(1.05) scaleY(0.95);
    }
    100%{
        transform: scaleX(1) scaleY(1);
    }
  }
  
  .rubberBand {
    
    animation-name: rubberBand;
  }
  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  ion-col{
    text-align: center;
    padding-left: 0;
  }
  ion-row{
    text-align: center;
    padding-left: 0;
  }
.icono{
    width: 95px;
    height: 88px;
    transition: 0.4s;
    //animation: cambiocolor 1s linear infinite;
    border-radius:  0 10px 10px 0;
    border: 10px solid rgba(207, 17, 74, 0.966) ;
    background-color: rgba(223, 172, 30, 0.966);
    margin: 5px;
}

.icono:hover{
  transform: scale(1.2);
  background-color: rgba(70, 29, 107, 0.966);
  border: 10px solid rgba(31, 15, 46, 0.966) ;
 

}
@keyframes cambiocolor {
  0%{ background-color: rgba(70, 29, 107, 0.966);
    border: 10px solid rgba(31, 15, 46, 0.966) ;}
  50%{background-color: rgba(104, 29, 107, 0.966);
    border: 10px solid rgba(46, 15, 42, 0.966) ;}
  100%{background-color: rgba(70, 29, 107, 0.966);
    border: 10px solid rgba(31, 15, 46, 0.966) ;}
  
}
img{
    width: 60px;
    height: 60px;
}
.nombreapp{
  text-align: center;
  animation-name: agrandar;
  animation: agrandar 1s linear infinite;
  animation-duration: 3s;
  transition: 5s;
}
@keyframes agrandar{
  0% {
    transform: scale(1); 
  }
  50%{transform: scale(1.05); 

  }
  100% {
    transform: scale(1); 
  }
}
.botonjugar{
  background-color: rgb(232, 235, 59);
  border: 5px solid rgb(199, 130, 26);
  border-radius: 10px;
  padding-top: 20px;
  
  padding-bottom: 20px;
  font-weight: bolder;
  animation: jugar 2s linear infinite;
font-family: 'Gluten', cursive;
  -webkit-text-stroke: 1px black;
  font-size: 30px;
  color:rgba(207, 17, 74, 0.966);

}
@keyframes jugar {
  0%{ transform: scale(1);}
  25%{transform: scale(1.05);}
  50%{transform: scale(1);}
  75%{transform: scale(0.95);}
  
  100%{transform: scale(1);}
  
}
.monedas{
  background-color: rgb(95, 93, 93);
  border-radius: 0 0 0 20px;
  color: white;
  font-size: 20px;
  padding: 0px;
  border: 10px solid rgba(207, 17, 74, 0.966) ;
}
.bienvenido{
  
  padding-left: 180px;
  font-size: 20px;
  text-align: left;
  font-weight: 500;
  color: white;

}