<ion-header [translucent]="true">
  
</ion-header>

<ion-content  [fullscreen]="true" style="background-color: aqua;">
  <ion-grid style="background-image: url(assets/icon/cielo.png);background-size: cover;background-repeat: repeat-x;">
    
  <ion-card style="margin: 10px 150px 0px 150px;background-image: url(assets/icon/pasto1.png);box-shadow: 10px 50px 50px 50px rgba(61, 6, 43, 0.253);background-size: 100% 100%;background-repeat: repeat-x;">
    <ion-card-header>
      
      <ion-card-title ><img src="assets/icon/patra.png" [routerLink]="['/home']" style="width: 50px;height: 50px;margin-right: 180px;"/>Iniciar Sesión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form   [formGroup]="formularioLogin" >
        <ion-item>
          <ion-label  position="floating">Correo</ion-label>
          <ion-input formControlName="Correo1"     type="text"  [(ngModel)]="correousuario" ></ion-input>
        </ion-item><br>
        <div [hidden]="correo?.valid || correo?.pristine ">
          <span *ngIf="correo?.errors?.['required']">
            El correo es requerido.
          </span>
          <span *ngIf="correo?.errors?.['email']">
            El correo debe ser valido.
          </span>
          <span *ngIf="correo?.errors?.['minlength']">
            <br>El correo solo permite un minimo de 5 caracteres.
          </span>
          </div>
        <br>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input  formControlName="contraseña1"   type="password" [(ngModel)]="claveusuario" ></ion-input>
        </ion-item>
        <br>
        <div [hidden]="contra?.valid || contra?.pristine ">
          <span *ngIf="contra?.errors?.['required']">
            La contraseña es requerida.
          </span>
          <span *ngIf="contra?.errors?.['maxlength']">
            La contraseña permite un maximo de 15 caracteres.
          </span>
          <span *ngIf="contra?.errors?.['minlength']">
            La contraseña solo permite un minimo de 5 caracteres.
          </span>
          <span *ngIf="contra?.errors?.['pattern']">
            <br>La contraseña requiere un numero.<br>
            La contraseña requiere una mayuscula.<br>
            La contraseña requiere una minuscula.<br>
            La contraseña requiere un simbolo especial.
          </span>
          </div>
        <br>
      <p style="text-align: center;color: rgba(255, 255, 255, 0.918);" [routerLink]="['/olvidaste-c']">¿Olvidaste tu contraseña?</p>
      <br>
      <p style="text-align: center;"><ion-button [disabled]="formularioLogin.invalid" (click)="admin_o_usuario()" >Ingresar</ion-button></p>
      </form>
      

    </ion-card-content>
  </ion-card>
</ion-grid>

  <ion-header collapse="condense">
</ion-header>
</ion-content>