<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ver Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-grid class="fondo">
  <ion-list style="background-color: rgba(148, 68, 222, 0.869);">
    <ion-list-header style="text-align: center;">
      <ion-label >Nombre Usuario</ion-label>
      <ion-label>Correo</ion-label>
      <ion-label>Fecha Nacimiento</ion-label>
      <ion-label>Rol</ion-label>
      <ion-label>Boton</ion-label>
    </ion-list-header>
    <ion-item style="text-align: center;" *ngFor="let x of lista">
      <ion-label >{{ x.nombreU }}</ion-label>
      <ion-label>{{ x.correo }}</ion-label>
      <ion-label>{{ x.fecha_nacimiento | date:"dd MMMM yyyy" }}</ion-label>
      <ion-label>{{ x.Rol }}</ion-label>
      <p><ion-button [routerLink]="['/usuario-normal']">Cambiar</ion-button></p>
    </ion-item>
    
  </ion-list>
</ion-grid>


  <ion-header collapse="condense" >
  </ion-header>
</ion-content>