<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  
<ion-grid style="background-image: url(assets/icon/fondologro1.jpg) ;background-size:cover ; background-repeat: repeat-y;">
 
    <ion-row>
      <ion-col size="1">
        <div style="margin-bottom: 70px;"> 
          <img src="assets/icon/patra.png" [routerLink]="['/lobby']" style="width: 50px;height: 50px;"/>
     </div>

      </ion-col>
    <ion-col size="11" style="margin-top: -15px;padding-right: 90px;">
      <div class="contenedor">
        <img src="assets/icon/cinta.png"  style="width: 500px;"/>
        
        <div class="titulogro"  >LOGROS  </div><br>
        
 
        


      </div>
    <!--<h1 style="text-align: center;">Logros</h1>-->
    
    </ion-col>
    </ion-row>
    
    <ion-row style="margin-top: -20px;">
      <!--logro-->
      <ion-col size="3" *ngFor="let x of arregloLogros" >
        <div *ngFor="let i of arregloInter">
          
          <div  *ngIf="i.idLogro===x.idL">
            <h1 style="color: rgb(18, 175, 18);font-size: 20px;font-weight: 30px; position: absolute; top: 0; left: 50%; transform: translateX(-50%);">Completado</h1>
          </div>
        
        </div>
           <div class="flip-card"  >
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img alt="Sin foto" src="assets/icon/trofeo.png" />
              <div class="nombrelogro">  "{{x.nombreL}}" </div> 
            </div>
              <div class="flip-card-back"><br>
                
                
                {{x.descripcion | uppercase}}<br>
                 +<img alt="Sin foto" src="assets/icon/coin.png" style="width: 20px; height: 20px;"/>{{x.recompensa}} coins


                 
              </div>
          </div>
      </div>
    
      </ion-col>
      <!-- fin logro-->
      
      
    </ion-row>
   
    
</ion-grid>
  
  <ion-header collapse="condense">
  </ion-header>
</ion-content>
