<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lobby"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <ion-grid class="game-grid">
    <ion-row >
      <ion-col size="4" *ngFor="let juego of juegos">
          <ion-card (click)="verDetalles(juego.slug)" class="game-item">
          <ion-card-header class="game-title">
            <ion-img *ngIf="juego && juego.background_image" [src]="juego.background_image" alt="Imagen del Videojuego"></ion-img><br>
          <ion-label>{{ juego.name }}</ion-label>
        </ion-card-header></ion-card>
      </ion-col>

    


    </ion-row>
  </ion-grid>
</ion-content>
