.disintegration-animation {
    animation-name: disintegration;
    animation-duration: 2s; 
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
  }
  
  @keyframes disintegration {
    0% {
      opacity: 1;
      transform: translateY(0); 
    }
    100% {
      opacity: 0;
      transform: translateY(-100%); 
    }
  }

  .rotate-animation {
    animation: rotate 0.5s ease-in-out infinite; 
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg); 
    }
    100% {
      transform: rotate(360deg); 
    }
  }
  
.container-completado {
    background-color: #a57edd; 
    border: 2px solid #bb00ffe6; 
    padding: 40px;
    border-radius: 10px; 
    text-align: center;
    position: absolute;
    visibility: hidden; 
  }
  
  .alerta-container {
    background-color: #6a00ff; 
    border: 1px solid #bb00ffe6; 
    padding: 20px; 
    border-radius: 10px; 
    text-align: center;
    position: absolute; 
    visibility: hidden; 
  }
  
  .alerta-titulo {
    font-size: 24px; 
    color: #fff; 
  }
  
  .alerta-mensaje {
    font-size: 18px; 
    color: #ffffff; 
  }
  
  .alerta-botones {
    margin-top: 20px; 
  }
  
  .alerta-boton {
    margin: 0 10px; 
    padding: 10px 20px; 
    background-color: #ff00fb62; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px; 
  }
  .alerta-boton:hover {
    background-color: #ff3300a1; 
  }  
  