.bienvenido{
    margin-top: 50px;
    width: 500px;
    height: 150px;
    animation: b 2s  linear infinite ;

}
@keyframes b {
    0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}
    
}
span{
    color: rgb(192, 16, 16);
}

