<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="background-color: rgba(153, 79, 147, 0.836)">
     <ion-row >
       
       
        <ion-col style=" text-align: center; color: beige;font-size: 30px;padding-bottom: 5px;">
          
          --REGISTRO--
        
        </ion-col>
       
        

      </ion-row>
    <ion-row style="margin: 0 20px 20px 20px;background-color: rgb(145, 157, 212);">
     
    
     
      <ion-col size="4" style="background-image: url(assets/icon/registrop.png);background-size: cover;">
        <div>
          <img src="assets/icon/patra.png" [routerLink]="['/home']" style="width: 50px;height: 50px;"/>
        </div>
        <div>
          <img class="bienvenido" src="assets/icon/bienvenido.png" alt="Mi Imagen">
        </div>

      </ion-col>
      <ion-col size="8">

      <form [formGroup]="formularioRegistro">

        <ion-item>
          <ion-label position="floating">Nombre Usuario</ion-label>
          <ion-input formControlName="nombre" [(ngModel)]="pedirUsuario" type="text"></ion-input>
        </ion-item>
        <div [hidden]="nombreU?.valid || nombreU?.pristine ">
          <span *ngIf="nombreU?.errors?.['required']">
            El nombre de usuario es requerido.
          </span>
          <span *ngIf="nombreU?.errors?.['minlength']">
            El nombre de usuario solo permite un minimo de 3 caracteres.
          </span>
          </div>
        <br>

        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input formControlName="Correo" [(ngModel)]="pedirCorreo" type="text"></ion-input>
        </ion-item>
        <div [hidden]="correo?.valid || correo?.pristine ">
          <span *ngIf="correo?.errors?.['required']">
            El correo es requerido.
          </span>
          <span *ngIf="correo?.errors?.['email']">
            El correo debe ser valido.
          </span>
          <span *ngIf="correo?.errors?.['minlength']">
            El correo solo permite un minimo de 5 caracteres.
          </span>
          </div>
        <br>

        <ion-item >
          <ion-label position="floating">Pregunta de seguridad</ion-label>
          <ion-select aria-label="Fruit" interface="popover" placeholder="Seleccione">
            <ion-select-option [(ngModel)]="pedirPregunta"  *ngFor="let x of arregloPreguntas">{{x.nombreP}}</ion-select-option>
           
          </ion-select>
          <ion-select aria-label="Fruit" interface="popover" placeholder="Seleccione">
            <ion-select-option   *ngFor="let x of arreglousuario">{{x.nombreU}}</ion-select-option>
           
          </ion-select>
        </ion-item>
        <br>

        <ion-item>
          <ion-label position="floating">Respuesta</ion-label>
          <ion-input formControlName="Respuesta" [(ngModel)]="pedirRespuesta" type="text"></ion-input>
        </ion-item>
        <div [hidden]="respuesta?.valid || respuesta?.pristine ">
          <span *ngIf="respuesta?.errors?.['required']">
            La respuesta es requerida.
          </span>
          <span *ngIf="respuesta?.errors?.['maxlength']">
            La respuesta permite un maximo de 30 caracteres.
          </span>
          <span *ngIf="respuesta?.errors?.['minlength']">
            La respuesta solo permite un minimo de 5 caracteres.
          </span>
          </div>
        <br>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input  [(ngModel)]="contra1" formControlName="contraseña" [(ngModel)]="pedirContrasena" type="password"></ion-input>
        </ion-item>
        <div [hidden]="contra?.valid || contra?.pristine ">
          <span *ngIf="contra?.errors?.['required']">
            La contraseña es requerida.
          </span>
          <span *ngIf="contra?.errors?.['maxlength']">
            La contraseña permite un maximo de 15 caracteres.
          </span>
          <span *ngIf="contra?.errors?.['minlength']">
            La contraseña solo permite un minimo de 5 caracteres.
          </span>
          <span *ngIf="contra?.errors?.['pattern']">
            <br>La contraseña requiere un numero.<br>
            La contraseña requiere una mayuscula.<br>
            La contraseña requiere una minuscula.<br>
            La contraseña requiere un simbolo especial.
          </span>
          </div>
        <br>

        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input [(ngModel)]="contra2"  formControlName="Confirmar_contraseña" type="password"  ></ion-input>
        </ion-item>
        <div [hidden]="confirmar_contra?.valid || confirmar_contra?.pristine ">
          <span *ngIf="confirmar_contra?.errors?.['required']">
            Confirmar Contraseña es requerida.<br>{{mensaje}}
          </span>
         
          </div>
           
        <br>
        
          <ion-input accept="image/png,image/jpeg" type="file"></ion-input>
        
      </form>
      <br>
      <p style="text-align: center;"><ion-button [disabled]="formularioRegistro.invalid"  (click)="registrar()" (click)="insertar()" >Enviar</ion-button></p>
    </ion-col>
  
    </ion-row>
  </ion-grid>
  


  <ion-header collapse="condense">
  </ion-header>
</ion-content>
