<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true" >
  
 <div style="background-image: url(assets/icon/FondoInicio.png) ;background-size:cover ;background-attachment: fixed;height:100%;">
  <ion-grid>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col  size="8"><img class="prueba" src="assets/icon/estrella.png" alt="Mi Imagen">
        <img class="nombreapp" src="assets/icon/nombreapp2.png" alt="Mi Imagen">

      </ion-col>
      <ion-col size="2"><img class="prueba" src="assets/icon/estrella.png" alt="Mi Imagen"></ion-col>
    </ion-row><br><br>
    <ion-row>
      <ion-col></ion-col>
      <ion-col><button mat-raised-button color="warn" [routerLink]="['/iniciar-sesion']">Inicio Sesión</button> </ion-col>
      <ion-col><button mat-raised-button color="warn" [routerLink]="['/registrarse']">Crear Cuenta</button>  
      </ion-col>
      <ion-col></ion-col>
      

    </ion-row>
    
   
  </ion-grid>
</div>
 
  

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="ion-text-center">
       
        
      
       
      </ion-card>
  
     
    </ion-toolbar>
  </ion-header>
</ion-content>