<ion-header [translucent]="true">
 
</ion-header>

<ion-content [fullscreen]="true" >
  

 <div style="background-image: url(assets/icon/FondoInicio.png) ;background-size:cover ;background-attachment: fixed;">
  <ion-grid  >
    <ion-row>
      <ion-col size="2"><img class="prueba" src="assets/icon/estrella.png" alt="Mi Imagen"></ion-col>
      <ion-col  size="8">
        <img class="nombreapp" src="assets/icon/nombreapp2.png" alt="Mi Imagen">

      </ion-col>
      <ion-col size="2"><img class="prueba" src="assets/icon/estrella.png" alt="Mi Imagen"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>
        <ion-button [routerLink]="['/iniciar-sesion']" class="boton" expand="block" >iniciar sesion </ion-button>
      </ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>

    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>
        <ion-button [routerLink]="['/registrarse']" class="boton" expand="block" >crear cuenta </ion-button>
      </ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/lobby']" class="boton" expand="block" >jugar</ion-button>
      </ion-col>
      

    </ion-row>
   
   
  </ion-grid>
</div>
 
  

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="ion-text-center">
       
        
      
       
      </ion-card>
  
     
    </ion-toolbar>
  </ion-header>
</ion-content>