<ion-header [translucent]="true">
  

<ion-content [fullscreen]="true">

  <ion-grid>
  <ion-card class="form">
    <img src="assets/icon/patra.png" [routerLink]="['/iniciar-sesion']" style="width: 50px;height: 50px;"/>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Olvidaste Contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioOlvidaste">
        <ion-item>
          <ion-label position="floating">Pregunta de seguridad</ion-label>
          <ion-select aria-label="Fruit" interface="popover" placeholder="Seleccione">
            <ion-select-option value="apples">¿Cual es tu mascota favorita?</ion-select-option>
            <ion-select-option value="oranges">¿Cual es tu pelicula favorita?</ion-select-option>
          </ion-select>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Respuesta</ion-label>
          <ion-input   formControlName="Respuesta" type="text"></ion-input>
        </ion-item>
        <div [hidden]="respuesta?.valid || respuesta?.pristine ">
          <span style="color: rgb(255, 0, 0);" *ngIf="respuesta?.errors?.['required']">
            La respuesta es requerida.
          </span>
          <span style="color: rgb(255, 0, 0);" *ngIf="respuesta?.errors?.['maxlength']">
            La respuesta permite un maximo de 30 caracteres.
          </span>
          <span style="color: rgb(255, 0, 0);" *ngIf="respuesta?.errors?.['minlength']">
            La respuesta solo permite un minimo de 5 caracteres.
          </span>
          </div>
        <br>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input   formControlName="Correo" type="text"></ion-input>
        </ion-item>
        <div [hidden]="correo?.valid || correo?.pristine ">
          <span style="color: rgb(255, 0, 0);" *ngIf="correo?.errors?.['required']">
            El correo es requerido.
          </span>
          <span style="color: rgb(255, 0, 0);" *ngIf="correo?.errors?.['email']">
            El correo debe ser valido.
          </span>
          <span style="color: rgb(255, 0, 0);" *ngIf="correo?.errors?.['minlength']">
            <br>El correo solo permite un minimo de 5 caracteres.
          </span>
          </div>
        <br>
      </form>
      <br>
      <p style="text-align: center;"><ion-button [disabled]="formularioOlvidaste.invalid" [routerLink]="['/modificar-contra']">Cambiar</ion-button></p>
    </ion-card-content>
  </ion-card>
</ion-grid>


  <ion-header collapse="condense">
  </ion-header>
</ion-content>
