<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>olvidasteC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Olvidaste Contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioOlvidaste">
        <ion-item>
          <ion-label position="floating">Pregunta de seguridad</ion-label>
          <ion-select aria-label="Fruit" interface="popover" placeholder="Seleccione">
            <ion-select-option value="apples">¿Cual es tu mascota favorita?</ion-select-option>
            <ion-select-option value="oranges">¿Cual es tu pelicula favorita?</ion-select-option>
          </ion-select>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Respuesta</ion-label>
          <ion-input   formControlName="Respuesta" type="text"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input   formControlName="Correo" type="text"></ion-input>
        </ion-item>
        <br>
      </form>
      <br>
      <p style="text-align: center;"><ion-button (click)="ingresar()" [routerLink]="['/modificar-contra']">Cambiar</ion-button></p>
    </ion-card-content>
  </ion-card>


  <ion-header collapse="condense">
  </ion-header>
</ion-content>
