.contenedor{
    position: relative;
    display: inline-block;
   
}
.titulogro{
    font-size:23px;
    font-family: 'Gluten', cursive;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.estrellaz{
    width:20% ;
    height: 20%;
    
    
  }